<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="/public/css/app.css">
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><a href="/admin">
                    <span> <img src="/public/Images/logo-png.png" alt="" /></span>

                    <span>Boeken BookHouse</span> </a></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/member">
                        <span class="las la-users"></span>
                        <span>Members</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/attendance">
                        <span class="las la-id-card"></span>
                        <span>Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/books" class="active">
                        <span class="las la-book-reader"></span>
                        <span>Books</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class='las la-bars'></span>
                </label>
                Update Book Records
            </h2>
            <div class="logout-wrapper">

                 <a href="/logout"><h3><span class="las la-power-off"></span>LogOut</h3></a>
            </div>

        </header>

        <main class="function-page">
            {{#if info}}
				<div class="alert alert-primary">
					
					<div>
						<img src="/public/Images/Alert/info.svg" alt="" style="fill: currentColor;">
						<span>{{info}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if warning}}
				<div class="alert alert-warning">
					
					<div>
						<img src="/public/Images/Alert/warning.svg" alt="" style="fill: currentColor;">
						<span>{{warning}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
				{{#if danger}}
				<div class="alert alert-danger">
					
					<div>
						<img src="/public/Images/Alert/danger.svg" alt="" style="fill: currentColor;">
						<span>{{danger}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
                {{#if success}}
				<div class="alert alert-success">
					
					<div>
						<img src="/public/Images/Alert/success.svg" alt="" style="fill: currentColor;">
						<span>{{success}}</span>
					</div>
					<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				</div>
				{{/if}}
            <div class="books-update-grid">
                <div class="card">
                    <div class="card-header">
                        <h3>Update Details</h3>
                    </div>
                    <div class="card-body">

                        <form action="/auth/updatebook1" method="POST" class="books-update-form form-control">
                            <div id="books-update-id-div">
                                <input type="text" id="BookRequest-Nam" placeholder="Book ID" name="bookid">
                            </div>
                            <div id="books-update-id-btn-div">
                                <button>Get Details</button>
                            </div>
                        </form>

                        <br>
                        <br>

                        <form action="/auth/updatebook2" method="POST" class="books-update-form form-control"
                            style="display:{{#if props}} {{props}} {{else}} none {{/if}}">

                            <div id="books-update-name-div">
                                <label for="">Book Name</label>
                                <input type="text" id="BookRequest-Nam" value="{{bookname}}" name='bookname'>
                            </div>
                            <div id="books-update-author-div">
                                <label for="">Author</label>
                                <input type="text" id="BookRequest-Nam" value="{{author}}" name='author'>
                            </div>
                            <div id="books-update-publisher-div">
                                <label for="">Publisher</label>
                                <input type="text" id="BookRequest-Nam" value="{{publisher}}" name='publisher'>
                            </div>
                            <div id="books-update-edition-div">
                                <label for="">Edition</label>
                                <input type="text" id="BookRequest-Nam" value="{{edition}}" name='edition'>
                            </div>
                            <div id="books-update-pages-div">
                                <label for="">No. of Pages</label>
                                <input type="text" id="BookRequest-Nam" value="{{noofpages}}" name='noofpages'>
                            </div>
                            <div id="books-update-price-div">
                                <label for="">Price</label>
                                <input type="text" id="BookRequest-Nam" value="{{price}}" name='price'>
                            </div>
                            <div id="books-update-genre-div">
                                <label for="">Genre</label>
                                <input type="text" id="BookRequest-Nam" value="{{genre}}" name='genre'>
                            </div>
                            <div id="books-update-lang-div">
                                <label for="">Language</label>
                                <input type="text" id="BookRequest-Nam" value="{{language}}" name='language'>
                            </div>
                            <div id="books-update-seller-div">
                                <label for="">Seller</label>
                                <input type="text" id="BookRequest-Nam" value="{{seller}}" name='seller'>
                            </div>
                            <div id="books-update-p-date-div">
                                <label for="">Purchase date</label>
                                <input type="date" name="purchasedate" value={{purchasedate}}>
                            </div>
                            
                            <div id="books-update-des-div">
                                <label for="">Description</label>
                                <textarea rows="4" style="width: 100%;" id="BookRequest-Description"
                                    placeholder="{{description}}" name='description' value='{{description}}'></textarea>
                            </div>
                            <div id="books-update-btn-div">
                                <button>Update Details</button>
                            </div>
                        </form>
                    </div>



                </div>

            </div>
        </main>
    </div>

</body>

</html>